#photos-container {
  box-sizing: border-box;
  column-gap: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4%;
  padding: 0 4vw;
  row-gap: 6vw;
  width: 100%;
}

#item-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  height: 100%;
  width: 100%;
}

#item-screen .photo-item {
  height: 40vw;
  width: 40vw;
}

.photo-item {
  border-radius: 6%;
  box-sizing: border-box;
  margin: 0px 1vw;
  min-height: 200px;
  min-width: 200px;
  padding: 0;
  overflow: hidden;
  height: 15vw;
  width: 15vw;
  border: 0.12vw solid rgba(0, 0, 0, 0.5);
}

.photo-item img {
  aspect-ratio: 1/1;
  background-image: url(../assets/loading.gif);
  background-size: cover;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.clickable:hover {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.selected {
  border: 0.2vw solid rgb(212, 9, 9);
}

button {
  background-color: rgb(76, 78, 182);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1.3em;
  margin-top: 40px;
  padding: 10px 20px;
  min-width: 200px;
}

button:hover {
  background-color: rgb(37, 0, 110);
  font-weight: bold;
}